body {
  background-color: white;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: hidden;
  overflow-x: hidden;
  background-color: #0e0e0e;
}
html {
  overflow-y: hidden;
}
